# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Local files
*.log
*.bak
*.swp
.DS_Store
.idea/
.vscode/

# OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Python virtualenv
.venv/
venv/
